@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400,700');

*{
    margin-right: 0px !important;
    margin-left: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
}
$translate0: translateX(0px);
$whatsapp: #25d366;
$white: #FFFFFF;
$gray: #33373D;
$redBcard: #a00d3a;
$text: 1.1em;
$text2: 1.2em;
$fb: #3b5998;
$inst: #8a3ab9;
$tw: #1da1f2;
$in: #0077B5;
$upper: uppercase;
$gold: #ebb00e;
$darkGold: #ce9702;