@import url("https://fonts.googleapis.com/css?family=Fira+Sans:300,400,700");
* {
  margin-right: 0px !important;
  margin-left: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif; }

body {
  background: #efefef; }

.foto_logo {
  width: 50%;
  margin: 0 auto !important; }

.header-logo {
  background-color: #33373D;
  color: #FFFFFF; }
  .header-logo img {
    display: inline-block;
    width: 30%; }

.footer-logo {
  margin-top: 1em;
  background-color: #33373D;
  border-radius: 1em 1em 0em 0em;
  text-shadow: -3px -3px 12px 3px rgba(152, 152, 152, 0.819608); }
  .footer-logo img {
    display: inline-block;
    width: 35%; }
  .footer-logo a {
    color: #FFFFFF;
    font-size: 1.2em;
    text-shadow: -4px 0px 3px rgba(21, 21, 22, 0.82);
    text-decoration: none;
    vertical-align: middle; }

.header-wrap, ul.list-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.header-bar::after {
  border-left: 1em;
  color: red;
  width: 100%; }

.nav-main {
  background-color: #33373D; }
  .nav-main ul {
    list-style-type: none; }
    .nav-main ul li {
      width: 25%; }
      .nav-main ul li a {
        display: table;
        text-align: center;
        background: #33373D;
        color: #85878b;
        font-size: 10px;
        text-transform: uppercase;
        padding: 20px 0px;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transition-property: color;
        transition-property: color;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition: all 300ms;
        transition: all 300ms;
        width: 100%;
        text-decoration: none; }
        .nav-main ul li a:hover {
          background: rgba(0, 0, 0, 0.5); }
        .nav-main ul li a i {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          font-size: 2.5em;
          padding-bottom: .5em; }
          .nav-main ul li a i.iconhome {
            color: #ba7404; }
          .nav-main ul li a i.iconuser {
            color: #1bbfb2; }
          .nav-main ul li a i.iconbrief {
            color: #a319a4; }
          .nav-main ul li a i.iconstar {
            color: #f0a503; }
          .nav-main ul li a i.iconbubble {
            color: #8646f5; }
          .nav-main ul li a i.lnr-exit-up {
            color: #16d0ff; }

h1 {
  font-weight: 700;
  text-align: center; }

h2 {
  font-weight: 300;
  text-align: center; }
  h2.cargo {
    font-size: 1.5em; }

ul.list-redesSociales {
  margin: 5px;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  ul.list-redesSociales li {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-right: 12px !important;
    text-align: center; }
    ul.list-redesSociales li a {
      display: inline-block;
      height: 45px;
      width: 45px;
      border-radius: 50%;
      padding: 9px 0px;
      font-size: 1.4em;
      margin: 1em 0em;
      color: #FFFFFF; }
      ul.list-redesSociales li a i {
        line-height: 1em; }
      ul.list-redesSociales li a.list-redesSociales_correo {
        background-color: #a00d3a; }
      ul.list-redesSociales li a.list-redesSociales_fb {
        background-color: #3b5998; }
      ul.list-redesSociales li a.list-redesSociales_tw {
        background-color: #1da1f2; }
      ul.list-redesSociales li a.list-redesSociales_inst {
        background-color: #8a3ab9; }
      ul.list-redesSociales li a.list-redesSociales_in {
        background-color: #0077B5; }
      ul.list-redesSociales li a.list-redesSociales_tel {
        background-color: #25d366; }

.redes-flotantes {
  padding: 1em;
  background-color: #FFFFFF;
  width: 100%;
  position: fixed;
  z-index: 2;
  bottom: 0; }

.espacio {
  height: 191px; }

#perfil-descripcion {
  -webkit-box-shadow: 1px 1px 5px #ccc;
  box-shadow: 1px 1px 5px #ccc;
  margin: 0em 1em !important;
  border-radius: .5em;
  background-color: rgba(255, 255, 255, 0.431); }
  #perfil-descripcion p {
    color: #33373D;
    padding: 1em 1em !important;
    font-size: 1.1em; }
  #perfil-descripcion .perfil-descripcion_firma {
    width: 50%; }
  #perfil-descripcion .botones {
    letter-spacing: .11em;
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 1em  !important; }

.panel {
  margin: 1em 1em !important;
  border-radius: .5em; }
  .panel .panel-body a, .panel .panel-body span {
    margin: 0 1em !important;
    font-size: .92em;
    font-weight: 900;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .panel .panel-body span {
    font-size: 1.2em; }

.titulo-sitio_web {
  margin: .5em 1em !important;
  color: #a00d3a;
  font-weight: 900; }

h4 {
  margin: .5em 1em !important;
  color: #242424; }

.dir, .tel, select {
  margin: 0 1em !important;
  padding: .5em; }

select {
  display: block;
  width: 92%;
  height: 40px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s; }

input[type="text"], input[type="number"] {
  text-align: center;
  padding: 1.2em !important;
  font-size: 1.1em; }

.panel-default {
  margin: 1em 1em !important; }

a.btn {
  padding: .8em 0em;
  margin: 0.5em 1em !important;
  width: 92%; }

a.btn-whatsapp {
  background-color: #25d366;
  font-size: 1.2em; }
  a.btn-whatsapp:link {
    color: #33373D; }
